<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="Stéphane Mbape">
        <link rel="shortcut icon" href="favicon.ico" />
        <link rel="icon" type="image/x-icon" href="favicon.ico" />
        <!-- <link rel="icon" type="image/png" href="favicon.png" /> -->
        <title>Buma</title>
        <link rel="stylesheet" href="stylesheets/app.css">
        <script type="text/javascript">
            var appConfig = {baseUrl: ''};
        </script>
    </head>
    <body>
        <div id="container" class="clearfix"></div>{{#if single}}
        <script type="text/javascript">appConfig.resource = 'app';</script>
        <script src="javascripts/vendor.js"></script>
        <script src="javascripts/app.js"></script>
        <script type="text/javascript">require("initialize");</script>{{else}}
        <script type="text/javascript">appConfig.resource = 'web';</script>
        <script data-main="javascripts/main.js" src="vendor/require.js"></script>{{/if}}
    </body>
</html>